:root {
  --robot-font: "Roboto", sans-serif;
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --harcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(0, 0%, 100%);
  --Tomato: hsl(4, 100%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: var(--harcoal-Grey);
  color: var(--Dark-Slate-Grey);
}

.main {
  width: 53%;
}
.fa-solid {
  color: var(--Tomato);
}

.button,
.secondButton {
  background-color: var(--Dark-Slate-Grey) !important;
}

.isActive {
  opacity: 1 !important;
}

.text-span {
  font-weight: 600;
}
